body{
   
    background-color: bisque;
}
#search{
    
    height: 1cm;
    border: 2px solid grey;
    border-radius: 1px;
    align-items: center;
}


#search_one{
    
    height: 1cm;
    width: 7cm;
    border-radius: 8px;
    border: 2px;
}
#myimg{
    width: 250px;
    height: 100px;

}
img{
    width: 50px;
    height: 30px;
}
/*---------------------------------*/
 ul#ul_id{
    display: flex;
    list-style-type: none;
    align-items:center;
    float: right;
  }
  ul#ulel_id{
    display: flex;
    list-style-type: none;
    align-items: center;
   
  }
  /*---------------------------------*/


  li#liel_id {
    
    display: inline;
    font-size: 20px;
    padding: 20px;
  }
  

#one{
    padding: 10px;
 
}
ul#id{
   
  list-style-type: none;
  display: flex;
  align-items: center;
  float: right;

}
li#id {
  
  display: inline;
  padding: 20px;
}



  